.root-container {
  display: flex;
  flex-flow: column nowrap;
}

.hero > .bg {
  color: rgb(255, 21, 60);
}

.hero > .fg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hero {
  position: relative;
}
